[build]
  command = "npm run build"
  publish = "build"


[[plugins]]
    package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "./"

[[plugins]]
  package = "netlify-plugin-submit-sitemap"

	[plugins.inputs]

	# The base url of your site (optional, default = main URL set in Netlify)
	baseUrl = "https://etinaude.dev"

	# Path to the sitemap URL (optional, default = /sitemap.xml)
	sitemapPath = "./sitemap.xml"

	# Enabled providers to submit sitemap to (optional, default = 'google', 'bing', 'yandex'). Possible providers are currently only 'google', 'bing', 'yandex'.
	providers = [
		"google",
		"bing",
		"yandex"
	]

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  # optional, fails build when a category is below a threshold
  [plugins.inputs.thresholds]
    accessibility = 0.80
    best-practices = 0.80
    seo = 0.70