@import "@fontsource/fira-mono";
@import "./content/theme.scss";

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

* {
  color: var(--text-color);
  scroll-behavior: smooth;
  transition: 0.2s ease;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  box-sizing: border-box;
  padding-bottom: 20vh;
  margin: auto;
  background-color: var(--background);

  &#projects {
    .more-projects-btn {
      margin-top: 4rem;
      margin-bottom: 5em;
      width: 300px;
      text-align: center;
      padding: 20px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &#cta {
    justify-content: center;
    height: 100vh;

    .contacts {
      font-size: 1.5em;
    }
  }

  &#about {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: var(--imageUrl);
    background-position: center;
    background-size: cover;

    .header-text {
      box-sizing: border-box;
      width: 100%;
      height: 100vh;
      padding-top: 25vh;
      text-align: center;
      background-color: var(--background-transparent-color);
      h1 {
        margin: 0px;
      }
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
  }

  @media (max-width: 700px) {
    position: relative;
    padding: 3em;
  }

  @media (max-width: 500px) {
    position: relative;
    padding: 1em;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--accent-color);
  cursor: default;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-top: 2em;
  user-select: none;

  @media (max-width: 500px), (max-height: 1000px) {
    margin-top: 1.5em;
  }
}

h3 {
  font-size: 1.5rem;
}

p,
b {
  cursor: default;
  line-height: 1.5;

  b {
    color: var(--accent-color);
    font-weight: normal;
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

img {
  user-select: none;
}

button,
.button {
  background-color: var(--background-tint-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-decoration: none;

  transition: 0.2s ease;
  text-align: center;
  padding: 20px;

  &:hover {
    background-color: var(--accent-color);
    color: var(--background-tint-color);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-tint-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-tint-color);
}
